
.tank {
    display: flex;
    width:  95%;
    height: 25rem; /* 600px */
    border-bottom: 0.125rem /* 2px */ solid black;
    border-right: 0.125rem /* 2px */ solid black;
    border-left: 0.125rem /* 2px */ solid black;
    background:whitesmoke;
    position: relative;
    display: inline-block;
    margin: 2%; /* 40px */
    border-radius: 5px;
}

.tank .water {
    position: absolute;
    background: #9ed2ff;
    width: 100%;
    bottom: 0;
    z-index: 1;
}
