@font-face {
    font-family: "Vazir-Bold";
    src: url("../fonts/Vazir-Bold.eot") format("eot"),
        url("../fonts/Vazir-Bold.ttf") format("truetype"),
        url("../fonts/Vazir-Bold.woff") format("woff"),
        url("../fonts/Vazir-Bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BYekan";
    src: url("../fonts/BYekan-webfont.eot") format("eot"),
        url("../fonts/BYekan-webfont.ttf") format("truetype"),
        url("../fonts/BYekan-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Thin.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: 700;
}
