.switcher-stack {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: auto;
    justify-content: center;
}
.switcher-button {
    -webkit-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    text-transform: none;
    text-align: center;
    color: black;
}
