.chapter-section-title {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width:50%;
    padding-top:1.5rem;
    padding-bottom: 1.5rem;
    color:black;
    border: 2px dotted orange;
    border-radius: 1rem;
}

.lecture-text {
    text-align: right;
    padding-left: 2%;
    padding-right: 2%;

}

.lecture-image {
    margin-right: 15%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.lecture-text-titr{
    color: red;
    font-weight: bold;
    font-size: 18px
}

.matrix-left-hand {
    padding-top: 1rem;
}
