.input-matrix {
  overflow: hidden;
  display: inline-block;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
  padding: 0 2px;
  border-radius: 4px;
}

.coordinate-box {
/* --grids-total: 10;
--grids-x: 5;
--grids-y: 5;
--point-size: 7; */
--point-color: #369;
--size: 100%;
position: relative;
width: var(--size);
height: 0;
padding-top: var(--size);
box-sizing: border-box;
aspect-ratio: 1/1;
background-image:
  linear-gradient(#0000 calc(var(--grids-y) * 100% / var(--grids-total) - 1px), #0008 0 calc(var(--grids-y) * 100% / var(--grids-total) + 1px), transparent 0),
  linear-gradient(to right, #0000 calc(var(--grids-x) * 100% / var(--grids-total) - 1px), #0008 0 calc(var(--grids-x) * 100% / var(--grids-total) + 1px), transparent 0),
  repeating-linear-gradient(#0002 0 0.5px, #0000 0 calc(100% / var(--grids-total) - 0.5px), #0002 0 calc(100% / var(--grids-total))),
  repeating-linear-gradient(to right, #0002 0 0.5px, #0000 0 calc(100% / var(--grids-total) - 0.5px), #0002 0 calc(100% / var(--grids-total)));
}

/* .coordinate-box.no-overflow {
overflow: hidden;
} */

.coordinate-box .coordinate-point {
--translationUnit: 100% / var(--grids-total);
--translationX: var(--translationUnit) * var(--grids-x);
--translationY: var(--translationUnit) * var(--grids-y);
/* Vertical is "flipped" in CSS: higher values go down! Do negative! */
/* --y: calc(var(--translationY) - var(--translationUnit) * var(--function)); */ 
width: calc(var(--point-size) * 1px);
height: calc(var(--point-size) * 1px);
margin: 0;
padding: 0;
background: var(--point-color);
border-radius: 50%;
position: absolute;
transform: translate(-50%, -50%);
left: calc(var(--translationX) + var(--x) * var(--translationUnit));
bottom: calc(var(--translationY) + var(--y) * var(--translationUnit));
cursor: pointer;

}

.coordinate-box .extra-point-color {
background: red;
}
.arrow {
border: solid black;
border-width: 0 3px 3px 0;
display: inline-block;
padding: 3px;
}

.right {
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
}

.left {
transform: rotate(135deg);
-webkit-transform: rotate(135deg);
}

.up {
transform: rotate(-135deg);
-webkit-transform: rotate(-135deg);
}

.down {
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
}