.chapter-select-dark-card {

    /* cursor: pointer; */
    display: inline-block;
    padding: 5px 15px;
    text-align: center;
    width:100%;
    cursor: pointer;
  }
  @keyframes glowing {
    0% {
      background-color: #1c87c9;
      box-shadow: 0 0 5px #1c87c9;
    }
    50% {
      background-color: #2ba0ff;
      box-shadow: 0 0 20px #2ba0ff;
    }
    100% {
      background-color: #2b87ff;
      box-shadow: 0 0 5px #2b87ff;
    }
  }
  .chapter-select-dark-card:hover {
    animation: glowing 1800ms infinite;
  }